body {
    height: 100vh;
    margin: 0;
}

.App {
    text-align: center;
    background: #282c34;
    height: 100vh;
}

.home-main {
    height: 100vh;
    padding-top: 175px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-image: url("../../assets/landingPageBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}