body {
  margin: 0;
}

.App {
  text-align: center;
  background: #282c34;
}

.dd {
  text-align: center;
  background: #282c34;
}

.dd-wrapper {
  text-align: center;
  background: #282c34;
}

.dd-header {
  text-align: center;
  background: #282c34;
}

.dd-header-title {
  color: #09d3ac;
}

.dd-list {
  color: #09d3ac;
}

.dd-list-item {
  color: #09d3ac;
}
